html,body{
    width: 100%;
    height: 100%;
  }
  
  header{  
    background-image: url("../assets/bebidas-alcoholicas-portada.jpg"); opacity: 80%;
    background-color: rgb(251, 255, 1); 
    height: 70%;
    width: 100%;
    text-align: end;
  }
  
  .titulo-pagina{
    display: inline-block;
   
    background-color: yellow;
    color: rgb(0, 0, 0); 
    font-size: 60px;
    font-style: oblique;
   
  }
  .contenedor-tienda{
    padding-top: 3%;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
  }
  
  .card{
  
    height: 500px;
    width: 400px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
  }
  
  .card-img-top{
  
    height: 280px;
    width: 280px;
  }
  
  .nombre-producto{
  
    color: rgb(0, 0, 0);
    font-weight: 800;
  }
  
  .card-precio{
  
    font-weight: 500;
    color:rgb(0, 0, 0)
  }
  
 